body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  .admin-login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .admin-login.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 400px;
  }
  
  .admin-login h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .admin-login form {
    display: flex;
    flex-direction: column;
  }
  
  .admin-login label {
    font-size: 16px;
    margin-bottom: 8px;
    color: #666;
  }
  
  .admin-login input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .admin-login button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .admin-login button:hover {
    background-color: #0056b3;
  }
  .admin-login .email-div{

    width: 360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Responsive styles */
  @media (max-width: 480px) {
    .admin-login .container {
      width: 90%;
    }
  }
  